<nav class="navbar navbar-expand-sm shadow-lg">
  <div class="container">
    <a class="navbar-brand" routerLink="/" style="color: white"
      ><h1>Pixel Pictures</h1></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto">
        <ng-container *ngFor="let menus of navbar">
          <li class="nav-item">
            <button
              class="nav-link nav-btn"
              [routerLink]="menus.url"
              routerLinkActive="active"
            >
              {{ menus.name }}
            </button>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
