.main {
  background:#162847

}
#innerPage {
  width:100%;
  max-width:840px;
  margin : 0 auto;
  border-radius: 12px;
  background: #01102a;
  box-shadow:  7px 7px 13px 1px #010b1e,
  -10px -9px 11px 1px #1d335a;
}
.form-control {
  background: none;
  border:none;
  border-bottom : 1px solid #45bdd9;
  color:#fff;
}
#imgBgn {
  background : url('/static_files/images/html/sheildFlare.jpg') no-repeat;
  background-size: cover;
  background-position:center;
  min-height:75vh;
  width:100%;
  border-radius: 12px 0px 0px 12px;
}
