<body>
  <nav class="navbar navbar-expand-sm mb-5 shadow">
    <div class="container">
      <a class="navbar-brand" routerLink="/"><h1>PixelPro Task</h1></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ms-auto">
          <ng-container *ngFor="let menu of navbar">
            <li class="nav-item">
              <button
                *ngIf="menu.name !== 'Logout'; else logoutButton"
                class="nav-link"
                [routerLink]="menu.url"
                routerLinkActive="active"
              >
                {{ menu.name }}
              </button>

              <ng-template #logoutButton>
                <button class="nav-link" (click)="logout()">
                  {{ menu.name }}
                </button>
              </ng-template>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>
</body>
