<div class="container-fluid">
    <div class="row justify-content-center gap-3">
        <div
            class="col-lg-5 col-12 gap-2 d-flex flex-wrap justify-content-center align-items-center"
        >
            <div class="col-12 col-md-5 col-lg-5 shadow rounded-4 text-center">
                <svg
                    xmlns="http://www.w3.org/1500/svg"
                    width="150"
                    height="150"
                    fill="green"
                    class="bi bi-person-fill"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
                    />
                </svg>
                <h1>
                    {{ countUserAndPosts.activatedUsers[0] }}
                </h1>
            </div>
            <div class="col-12 col-md-5 col-lg-5 shadow rounded-4 text-center">
                <svg
                    xmlns="http://www.w3.org/1500/svg"
                    width="150"
                    height="150"
                    fill="red"
                    class="bi bi-person-fill-slash"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M13.879 10.414a2.501 2.501 0 0 0-3.465 3.465zm.707.707-3.465 3.465a2.501 2.501 0 0 0 3.465-3.465m-4.56-1.096a3.5 3.5 0 1 1 4.949 4.95 3.5 3.5 0 0 1-4.95-4.95ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"
                    />
                </svg>
                <h1>
                    {{ countUserAndPosts.deactivatedUsers[0] }}
                </h1>
            </div>
        </div>
        <div
            class="col-lg-5 col-12 gap-2 d-flex flex-wrap justify-content-center align-content-center"
        >
            <div class="col-12 col-md-5 col-lg-5 shadow rounded-4 text-center">
                <svg
                    xmlns="http://www.w3.org/1500/svg"
                    width="150"
                    height="150"
                    fill="currentColor"
                    class="bi bi-file-earmark-post-fill"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1m-5-.5H7a.5.5 0 0 1 0 1H4.5a.5.5 0 0 1 0-1m0 3h7a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5"
                    />
                </svg>
                <h1>
                    {{ countUserAndPosts.activePost[0] }}
                </h1>
            </div>
            <div class="col-12 col-md-5 col-lg-5 shadow rounded-4 text-center">
                <svg
                    xmlns="http://www.w3.org/1500/svg"
                    width="150"
                    height="150"
                    fill="currentColor"
                    class="bi bi-file-earmark-x-fill"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M6.854 7.146 8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 1 1 .708-.708"
                    />
                </svg>
                <h1>
                    {{ countUserAndPosts.deactivePost[0] }}
                </h1>
            </div>
        </div>
    </div>
</div>
