<div class="container d-flex justify-content-center my-5 py-5">
    <p class="display-1">Donate Blood, Save Lives</p>
</div>
<div class="container-fluid d-flex">
    <div class="py-2 container d-flex gap-5 justify-content-center align-items-center">
        <div class="inlineDiv fs-3">Are you a </div>
        <div class="donor btn btn-outline-dark fs-5 d-flex align-items-center justify-content-center"
            (click)="donor()">Donor
        </div>
        <div class="inlineDiv fs-3">or a </div>
        <div class="recipient d-flex btn btn-outline-dark fs-5 align-items-center justify-content-center"
            (click)="recipient()">Recipient
        </div>
        <div class="fs-2">?</div>
    </div>
</div>