<nav class="navbar navbar-expand-sm shadow-lg">
  <div class="container">
    <a class="navbar-brand" routerLink="/dashboard" style="color: white"
      ><h1>Pixel Pictures</h1></a
    >
  </div>
</nav>

<div class="container movie mt-5">
  <div class="row">
    <div class="col-md-4 d-flex gap-5">
      @for(movie of movies; track movie) {
      <div class="card shadow">
        <img
          [src]="movie.poster_url"
          alt="Movie Poster"
          style="height: 300px"
          class="card-img-top responsive img-fluid"
        />
        <div class="card-body">
          <h5 class="card-title">Title:{{ movie.title }}</h5>
          <p class="card-text">Director:{{ movie.director }}</p>
          <p class="card-text">Rating:{{ movie.rating }}</p>
          <select name="watched" id="watched" class="watched-select">
            <option value="watched">Watched</option>
            <option value="unwatched">Unwatched</option>
          </select>
        </div>
      </div>
      }
    </div>
  </div>
</div>
